@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');




html{
    scrollbar-color: #080D19 rgb(224,224,224, 0.09);
    scrollbar-width: thin;
    background-color: #080D19;
}
body{
    background-color: #080D19;
    
}

.Playfair, a{
    font-family: "Wix Madefor Display", serif;
    
}

.navbar{
    background-color: #fff;
    transition: transform .1s linear;
}
.hide{
    transform: translateY(-100px);

}
a, button {
    z-index: 3;
    position: relative;
}


.parallax{
display: flex;
position: relative;
left: 0px;
top: -100px;
}
.parallax img{
    position: absolute;
    
}
.ss{
    top: 100px;
}
.text{
    top: 300px;
   left: 150px;
    font-size: 50px;
    color: #fff;
    line-height: 1.2em;
    @media(max-width: 1360px){
       
            top: 200px;
           left: 100px;
    };
    @media(max-width: 1080px){
       
        top: 170px;
       left: 80px;
};
@media(max-width: 991px){
    font-size: 60px;
    top: 300px;
   left: 80px;
};
@media(max-width: 650px){
    font-size: 60px;
    top: 200px;
   left: 50px;
};
@media(max-width: 550px){
    font-size: 40px;
    top: 200px;
   left: 40px;
};
@media(max-width: 390px){
    font-size: 40px;
    top: 200px;
   left: 10px;
};
}

#fon #nefon{
    transition: 2s ;
    z-index: 5;
}

.contentishe{
    margin-top: 100vh;
    background-color: #080D19;
    height: 2000px;
    color: #fff;
    @media(max-width: 1360px){
       
      
};
@media(max-width: 1080px){
   
  
};
@media(max-width: 991px){

};
@media(max-width: 650px){

};
@media(max-width: 550px){

};
@media(max-width: 390px){

};
}
.white{
    color: #fff;
}
p{
    
    color: #fff;
    font-size: 24px;
}
.pabs{
   padding-top: 240px;
}

.ani{
    opacity:0;
    transform:translateY(-30px);
    transition: opacity 2s ease-in-out, transform 0.8s ease-in-out;
}
.animation{
    opacity:1;
    transform:translateY(0);
    transition: opacity 3s ease-in-out, transform 0.8s ease-in-out;
}
#po2{
    opacity:0;
    transition: 2s;
}
.anim{
    opacity:1;
    stroke-dasharray:1000;
    stroke-dashoffset:1000;
    animation: draw 15s linear forwards;
}
@keyframes draw{
    100%{
        stroke-dashoffset:0;
    }
}


.nav-pills {

   font-size: 0.8rem;
}
.mt{
padding-top: 100px;
}
.tm{
height: 600px;
scrollbar-width: thin;
}
.yrok{
    
    border-radius: 5px;
}


.kod{
    background-color: #fff;
    border-radius: 5px;
    color: black;
}


.kod img{
    
    width: 32px;
    
}

.container{
    color: white;
}


.kod img:hover{
    cursor:pointer;
}
.kod img:active{
    width: 36px;
    
}
.clipboard{
    width: 36px;
    height: 36px;
    margin-bottom: 5px;
    margin-left: 5px;
}



.drrimm{
    max-width: 1650px;
}






.reg{
    width: 600px;
    height: 800px;
    border: 1px solid black;
    margin-top: 20px;
}





.cursor{
    position:fixed;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events:none;
    transform: translate(-50%, -50%);
    transition: .1s;
  }
  .cursor2{
    position:fixed;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events:none;
    transform: translate(-50%, -50%);
  }